<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/apk/android"
    package="com.example.cachecleaner">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Cache Purge Pro"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Privileged isolated service running directly inside Shizuku user daemon space -->
        <service
            android:name=".CacheService"
            android:exported="false"
            android:process=":privileged" />

    </application>
</manifest>